.categoryLabel {
	color: #fff;
	height: auto;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	padding-left: 3.5%;
	padding-right: 3.5%;
	border-radius: 20px;
	font-family: Raleway, sans-serif;
	font-weight: 300;
	font-style: normal;
	letter-spacing: 0.1vh;
	font-size: 1.7vh;
	display: inline-block;
	margin-right: 2%;
	margin-bottom: 2%;
	margin-top: 1%;
	margin-left: 1.3%;
}

.categoryLabel:hover {
	cursor: pointer;
	-webkit-animation: hover 1200ms linear 2 alternate;
	animation: hover 1200ms linear 2 alternate;
	text-decoration: none;

}

.categoryLabel:hover {
    cursor: pointer;
}

.postLabel {
	color: #fff;
	height: auto;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	border-radius: 20px;
	font-family: Raleway, sans-serif;
	font-weight: 300;
	font-style: normal;
	letter-spacing: 0.1vh;
	font-size: 1.5vh;
	display: inline-block;
	margin-right: 2%;
	margin-bottom: 2%;
	margin-top: 1%;
	margin-top: 2%;
    float: right;
}


.funny, .funny:hover {
	background-color: #F96574;
}

.funny::after {
	content: "Funny";
}

.academics, .academics:hover {
	background-color: #FFC74F;
}

.academics::after {
	content: "Academics";
}

.sports, .sports:hover {
	background-color: rgb(6, 214, 160);

}

.sports::after {
	content: "Sports";
}

.events, .events:hover {
	background-color: #485977;

}

.events::after {
	content: "Events";
}

.random, .random:hover {
	background-color: #00BFFF;
}

.random::after {
	content: "Random";
}

.greek, .greek:hover {
	background-color: #BF3EFF;
}

.greek::after {
	content: "Greek";
}

.discussion, .discussion:hover {
	background-color: #FF1493;
}

.discussion::after {
	content: "Discussion";
}

.alert, .alert:hover {
	background-color: #EE0000;
}

.alert::after {
	content: "Alert";
}

.everything, .everything:hover {
    background-image: linear-gradient(60deg, #E3170D, #FF6600, #FFCC11, #00AF33, #0198E1, #A020F0);
}

.everything::after {
    content: "All Posts";
}

.notSelected {
    background-color: #DDD;
    background-image: none;
}

