.categoryLabel {
	text-align: center;
	font-family: Calibri;
	font-size: 12px;
	border-radius: 100px;
	font-weight: bold;
	
	margin: 5px 5px 0 0;
	padding: 1px 8px;
	color: #FFF;
}

.postLabel {
    float: right;
}

.funny {
	background-color: #0276FD;
}

.funny::after {
	content: "Funny";
}

.academics {
	background-color: #C48E48;
}

.academics::after {
	content: "Academics";
}

.sports {
	background-color: #8B8989;
}

.sports::after {
	content: "Sports";
}

.events {
	background-color: #FFC125;
}

.events::after {
	content: "Events";
}

.campus {
	background-color: #00AF33;
}

.campus::after {
	content: "Campus";
}

.random {
	background-color: #00BFFF;
}

.random::after {
	content: "Random";
}

.clubs {
	background-color: #FF7216;
}

.clubs::after {
	content: "Clubs";
}

.greek {
	background-color: #BF3EFF;
}

.greek::after {
	content: "Greek";
}

.discussion {
	background-color: #FF1493;
}

.discussion::after {
	content: "Discussion";
}

.alert {
	background-color: #EE0000;
}

.alert::after {
	content: "Alert";
}

.notSelected {
	background-color: #DDD;
}

.notSelected:hover {
    background-color: inherit;
}