
	<head>
		<title>Shout! - Trending</title>
		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
		<link rel='stylesheet' href="./font/typicons.min.css"/>
		<link rel='stylesheet' href="./font/typicons.css"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.typekit.net/wmk4kgh.css">
		<link rel="stylesheet" type="text/css" href="trending.component.css">
		<link rel="stylesheet" type="text/css" href="categories.css">
		<link rel="stylesheet" href="./css/nav.css">
		<link rel="stylesheet" href="./css/dashboard.css">
		<link rel="stylesheet" href="./css/bounce.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
	</head>

	<body>
		 <nav>
		 	<section class="logo-section">
		 		<i id="volume" class="fas fa-bullhorn"></i>
		 		<h1 id="app-title">shout</h1>
		 	</section>
		 	<section class="navbar-links"></section>
		 	<span class="typcn typcn-location"></span>
		 	<!-- <span class="typcn typcn-user"></span>
		 	<i class="fas fa-bell"></i> -->
		 	<span class="typcn typcn-th-menu"></span>
		 	
		 </nav>
		 <div id="login-btns">
    <button id="login" type="button">Login</button>
    <button id="sign-up" type="button">Sign Up</button>
  </div>
		<!-- <header>
			<span id="logo">SHOUT!</span>

			<div id="userpanel">

				<div id="user">
					<span id="username">user</span>
					<span id="logout">Sign Out</span>
				</div>

				<img src="https://i.pinimg.com/originals/44/03/c0/4403c0b61671a3348009888bbe6e9730.jpg" id="userimage" />
			</div>

			<i id="nearbyButton" class="fas fa-map-marker-alt"></i>
		</header> -->



		<div id="mainbox">
			<div id="posts">

				<div class="postbox" id="newPost">
					<p class="newPostLabel">Shout something!</p>
					<div contenteditable="true" id="newPostText">
						s
					</div>
					<div id="newPostBottom">
						<div class="newPostBottomSection" id="selectCategory">
							<p class="newPostLabel">Category:</p>
							<div id="categoryOptions">
								<span class="categoryLabel funny notSelected"></span>
								<span class="categoryLabel academics"></span>
								<span class="categoryLabel sports"></span>
								<span class="categoryLabel events"></span>
								<span class="categoryLabel campus"></span>
								<span class="categoryLabel random"></span>
								<span class="categoryLabel clubs"></span>
								<span class="categoryLabel greek"></span>
								<span class="categoryLabel discussion"></span>
								<span class="categoryLabel alert"></span>
							</div>
						</div>
						<div class="newPostBottomSection" id="postAs">
							<p class="newPostLabel">Anonymous: <input id="checkAnon" type="checkbox">
							<button id="makePost">Post</button>
						</div>
					</div>
				</div>

				<div class="postbox">
					<div class="postInfo">
						<span class="time">Anonymous at 05:04:32 EST</span>
						<span class="categoryLabel postLabel academics"></span>
					</div>
					<div class="post">
						<div class="votes">
							<span class="up">+</span>
							<span class="score">9999</span>
							<span class="down">-</span>
						</div>
						
						<p class="content">
								Anybody 1 want to go to Rathskellar I hear it's the best food you will ever consume.
						</p>
					</div>

					<div class="postControls">
						<span class="showComments fas fa-chevron-down"></span>
						<span class="savePost fas fa-save"></span>
						<span class="reportPost fas fa-flag"></span>
					</div>
					
					<div class="postBottom">
















						<div class="comments">
							<div class="newComment">
								<div class="newCommentText" contenteditable="true">s</div>
								<span class="submitComment fas fa-check-square"></span>
							</div>
							<div class="comment">
								<span class="time">yo waddup</span>
								<p class="commentText">
									Hello I like your dog can I have your dog plsss I really want your dog because I like it.
								</p>
								<div class="commentControls">
									<div>
										<span class="commentUp">+</span>
										<span class="commentScore">20</span>
										<span class="commentDown">-</span>
									</div>
									<span class="saveComment fas fa-save"></span>
									<span class="reportComment fas fa-flag"></span>
								</div>
							</div>
						</div>












					</div>
				</div>

				<div class="postbox">
					<div class="postInfo">
						<span class="time">Anonymous at 05:04:32 EST</span>
						<span class="categoryLabel postLabel discussion"></span>
					</div>
					<div class="post">
						<div class="votes">
							<span class="up">+</span>
							<span class="score">9999</span>
							<span class="down">-</span>
						</div>
						
						<p class="content">
							The original habitats of the raccoon are deciduous and mixed forests, but due to their adaptability they have extended their range to mountainous areas, coastal marshes, and urban areas, where some homeowners consider them to be pests.
						</p>
					</div>

					<div class="postControls">
						<span class="showComments fas fa-chevron-down"></span>
						<span class="savePost fas fa-save"></span>
						<span class="reportPost fas fa-flag"></span>
					</div>
					
					<div class="postBottom">

						<div class="comments">
							<div class="newComment">
								<div class="newCommentText" contenteditable="true">s</div>
								<div><span class="submitComment fas fa-check-square"></span></div>
							</div>
							<div class="comment">
								<span class="time">yo waddup</span>
								<p class="commentText">
									I like raccoons.
								</p>
								<div class="commentControls">
									<div>
										<span class="commentUp">+</span>
										<span class="commentScore">20</span>
										<span class="commentDown">-</span>
									</div>
									<span class="saveComment fas fa-save"></span>
									<span class="reportComment fas fa-flag"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				

			</div>

			<div id="rightSidebar">
				<div class="sidebarBox" id="infoPane">
					<span class="time">
						<span class="fas fa-map-marker-alt" style="margin-right: 4px"></span> Rensselaer Polytechnic Institute
					</span>
					<div id="categoryIndicator">
						<span class="newPostLabel">Category:</span>
						<span class="categoryLabel academics"></span>
					</div>
					
					<div id="filterOptions">
						<span class="newPostLabel">Sort by:</span>
						<select id="sort">
							<option value="popularity">Popularity</option>
							<option value="score">Score</option>
							<option value="recent">Recent</option>
						</select>
					</div>
				</div>
				<div class="sidebarBox" id="guidelines">
					Be nice
				</div>
			</div>
		</div>




	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="main.js"></script>

	</body>
