@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

@font-face {
  font-family: Brandon Grotesque;
  src: url("css/font/brandon_blk.woff")
}

/*#login-btns {
	margin-top: 11vh;
  	float: right;
  	position: fixed;
  	margin-left: 68%;
  	z-index: 1;
}*/

#login {
	display: inline-block;
	background-color: #F96574;
	height: 4.6vh;
	width: 15vh;
	border-radius: 35px;
	margin-right: 1.5vh;
	text-align: center;
	color: #fff;
	font-family: 'Raleway', sans-serif;
  	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5vh;
	text-decoration: none;
	border: none;
    outline:none;
    font-size: 1.7vh;
    -moz-transition: all 0.5s ease-in-out 0.1s;
    -o-transition: all 0.5s ease-in-out 0.1s;
    -webkit-transition: all 0.5s ease-in-out 0.1s;
    transition: all 0.5s ease-in-out 0.1s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);	
}

#login:hover, #btn-sign-up:hover, #sign-up:hover {
	/*color: white;*/
	background-color: #FFC74F;
	cursor: pointer;
	-webkit-animation: hover 1200ms linear 2 alternate;
	animation: hover 1200ms linear 2 alternate;
	text-decoration: none;
}

#btn-sign-up {
	display: inline-block;
	background-color: #F96574;
	height: 4.6vh;
	width: 17vh;
	border-radius: 35px;
	margin-right: 0vh;
	text-align: center;
	color: #fff;
	font-family: 'Raleway', sans-serif;
  font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5vh;
	text-decoration: none;
	border: none;
    outline:none;
    font-size: 1.7vh;
    -moz-transition: all 0.5s ease-in-out 0.1s;
    -o-transition: all 0.5s ease-in-out 0.1s;
    -webkit-transition: all 0.5s ease-in-out 0.1s;
    transition: all 0.5s ease-in-out 0.1s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);	
}

#sign-up {
	background-color: #00BFFF;
	height: auto;
	width: 40vh;
	border-radius: 5px;
	margin-right: 0vh;
	text-align: center;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.3vh;
	text-decoration: none;
	padding: 15px 3px;
	border: none;
    outline:none;
    font-size: 2vh;
    -moz-transition: all 0.5s ease-in-out 0.1s;
    -o-transition: all 0.5s ease-in-out 0.1s;
    -webkit-transition: all 0.5s ease-in-out 0.1s;
    transition: all 0.5s ease-in-out 0.1s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);	
}

.inline-form {
	display: inline-block;
}

.guidelines {
	width: 90%;
	background-color: #fcb165;
	height: auto;
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 3%;
	display: block;
	position: relative;
	text-align: center;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.3vh;
	text-decoration: none;
	padding: 15px 3px;
	border: none;
    outline: none;
    font-size: 2.3vh;
    -moz-transition: all 0.5s ease-in-out 0.1s;
    -o-transition: all 0.5s ease-in-out 0.1s;
    -webkit-transition: all 0.5s ease-in-out 0.1s;
    transition: all 0.5s ease-in-out 0.1s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);	
}

#switch {
	height: auto;
	width: auto;
	visibility: hidden;
	margin: 0 auto;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 75px;
	height: 31px;
	background: grey;
	display: inline-block;
	border-radius: 80px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 25px;
	height: 25px;
	background: #fff;
	border-radius: 80px;
	transition: 0.3s;
}

input:checked + label {
	background: #fcb165;
}

input:checked + label:after {
	left: calc(100% - 3px);
	transform: translateX(-100%);
}

label:active:after {
	width: 60px;
}

/*#userimage {
	float: right;
	clear: right;

	height: 38px;
	width: 38px;
	margin-left: 17px;
	border-radius: 100px;
}*/

#mainbox {
	text-align: center;
	margin-left: -14.5%;
	margin-top: 5%;
/*	margin: 65px auto 25px auto;*/
/*	margin-right: 30px;*/
	min-width: 500px !important;
}

#mainbox > div {
	text-align: left;
}

#posts, #rightSidebar {
	display: inline-block;

}

#posts {
	width: 60%;
	max-width: 700px;
	min-width: 300px;
}

.newComment {
	display: flex;
}

.postbox {
	display: block;
	margin-top: 15px;
	width: 100%;
	background-color: #FFF;
	box-sizing: border-box;

	min-height: 125px;
	border: 1px solid #EEE;
	border-radius: 4px;

	box-shadow: 0 0 8px -2px #DDD;
}

#newPost {
	padding: 10px;
	height: auto;
	background-color: #263549;
	box-shadow: 1 2px 0px rgba(0, 0, 0, 0.2);	
}

#newPostBottom { 
	display: flex;
}

#categoryOptions {
	display: inline-block;
	overflow: auto;
	margin: 0 auto;
}

#categoryViewSelect {
	overflow: auto;
}

#bullhorn {
	display: inline-block;
	 margin-right: 2vh;
}

.newPostLabel {
	margin: 0;
	padding: 0;
	color: #F96574;
	font-family: vag-rundschrift-d, sans-serif;
	font-weight: 900;
	/*text-transform: uppercase;*/
	font-size: 5vh;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.4vh;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	margin-bottom: 2vh;
}

#sort-img {
	display: inline-block;
	margin-left: 5vh;
	margin-top: 1vh;
	margin-right: 2vh;
	position: relative;
	float: left;
}

#cat-img {
	display: inline-block;
	margin-left: 5vh;
	margin-right: 1.2vh;
	position: relative;
	float: left;
}



#sort-img:hover, #bullhorn:hover {
	opacity: 0.9;
}

.sortLabel {
	padding-top: 1vh;
	color: rgb(6, 214, 160);
	font-family: vag-rundschrift-d, sans-serif;
	font-weight: 900;
    letter-spacing: 0.2vh;
    text-transform: uppercase;
    font-style: normal;
    font-size: 5vh;
	text-align: center;
	text-shadow: 1px 0px 1px rgba(0,0,0,0.3);
	display: inline-block;
/*	float: right;*/
}

.joinLabel {
	margin: 0;
	padding: 0;
	color: #FFC74F;
	font-family: vag-rundschrift-d, sans-serif;
	font-weight: 700;
	/*text-transform: uppercase;*/
	font-size: 4vh;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.4vh;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.catLabel {
	margin: 0;
	margin-top: 2vh;
	padding: 0;
	font-family: vag-rundschrift-d, sans-serif;
	/*text-transform: uppercase;*/
	font-size: 5vh;
	color: #fffffa;
	letter-spacing: 0.7vh;
	margin-left: 20%;
	text-transform: uppercase;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.2);

}

#select-cat {
	color: #fcb165;
	font-size: 5vh;

}

#anon-label {
	/*margin-right: 1vh;*/
	font-family: Raleway, sans-serif;
	font-size: 3vh;
	color: #fffffa;
/*	display: inline-block;*/
	text-align:center;
	margin-bottom: 1% !important;
	text-shadow: 1px 2px 0px rgba(0,0,0,0.2);
}

.switch {
	text-align: center;
	margin: 0 auto;
	display: block;
}

#newPostText {
	background-color: #FAFAFA;
	position: relative;
	height: 15vh;
	width: 95%;
/*	margin-left: 2%;*/
	margin-top: 1.7vh;
	margin: 0 auto;
	border-radius: 5px;
	display: block;
	outline: none;
	color: #485977;
	font-size: 2.2vh;
	cursor: pointer;
	letter-spacing: 0.2vh;
	overflow: auto;
	resize: none;
	/*word-wrap: break-word;*/
	padding-left: 2.4vh;
	padding-right: 0.8vh;
	padding-top: 1vh;
	padding-bottom: 1vh;
	border: none;
	font-family: Raleway;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);	

}

#newPostText:focus {
    outline: none !important;
    border: 3px solid #FFC74F;
/*    box-shadow: 0px 0px 5px #FFC74F;*/
}

.newPostBottomSection {
/*	border: 1px solid grey;*/
	position: relative;
}

.newPostBottomSection > * {
	display: block;
}

#selectCategory {
	width: 60%;
}

#postAs {
	margin-top: 8vh;
	padding-left: 1vh;
	margin-left: 1px;
	width: 40%;
	float: left;
/*	border: 1px solid grey;*/
}

/* ADDING TAGS */
#tags {
  float: left;
/*  border: 1px solid #ccc;*/
  padding-left: 4px;
  font-family: Raleway;
  width: 100%;
}

.tag {
  cursor:pointer;
  display: inline-block;
  border-radius: 20px;
  float:left;
  color:#555;
  margin-top: 0.5vh;
  background:#add;
  padding:5px 10px;
  padding-right: 30px;
  margin-right: 2vh;
  font-family: Raleway;
}

#tags span.tag:hover {
  opacity: 0.9;
}

#tags span.tag:after {
 position: absolute;
 content: "×";
 font-size: 4vh;
/* border: 1px solid;*/
 border-radius: 10px;
 padding: 1px 5px;
 margin: -15px 0px 0px 0px;
/* font-size: 15px;*/
}

#tags input {
  background: #eee;
  border: 0;
  margin: 4px;
  padding: 7px;
  width: auto;
}

#makePost {
	display: block;
	background-color: #95DBD2;
	height: 5.2vh;
	width: 30vh;
	border-radius: 7px;
	margin: 0 auto;
	margin-top: 4vh;
	text-align: center;
	color: #fff;
	font-family: 'Raleway', sans-serif;
  	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.4vh;
	text-decoration: none;
	border: none;
    outline:none;
    font-size: 2.2vh;
    -moz-transition: all 0.5s ease-in-out 0.1s;
    -o-transition: all 0.5s ease-in-out 0.1s;
    -webkit-transition: all 0.5s ease-in-out 0.1s;
    transition: all 0.5s ease-in-out 0.1s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);	
}

#makePost:hover, {
	-webkit-animation: hover 1200ms linear 2 alternate;
  	animation: hover 1200ms linear 2 alternate;
  	cursor: pointer;

}

#checkAnon {
	height: 20px;
}

.time {
	color: #AAA;
	font-size: 2.2vh;
	font-family: Raleway;
	margin: 5px 0 0 10px;
	display: inline-block;
}

.votes {
	margin-left: 20px;
	text-align: center;
	padding-top: 2vh;
	line-height: 0.5em;
	width: 50px;
	display: block;
}

.votes * {
	display: block;
	font-size: 4vh;
	font-family: Brandon Grotesque;
	margin: 0;
	padding: 0;
	color: #666;
}

.votes:after {
	clear: both;
}

.score {
	font-size: 20px;
}

span.typcn.typcn-plus {
	padding: 0;
	margin: 0;
	line-height: 0em;
	text-shadow: 1px -0.4px 0px rgba(0,0,0,0.2);
	-moz-transition: all 0.5s ease-in-out 0.1s;
    -o-transition: all 0.5s ease-in-out 0.1s;
    -webkit-transition: all 0.5s ease-in-out 0.1s;
    transition: all 0.8s ease-in-out 0.1s;
}

span.typcn.typcn-minus {
	margin-top: 3vh;
	padding: 0;
/*	margin: 0;*/
	text-shadow: 1px -0.4px 0px rgba(0,0,0,0.2);
	-moz-transition: all 0.5s ease-in-out 0.1s;
    -o-transition: all 0.5s ease-in-out 0.1s;
    -webkit-transition: all 0.5s ease-in-out 0.1s;
    transition: all 0.8s ease-in-out 0.1s;
}



.content {
	display: inline-block;
	vertical-align: top;
	margin: 20px 25px 0 35px;
	width: auto;
	font-family: navigo, sans-serif;
	font-weight: 700;
	letter-spacing: -0.1vh;
	font-style: normal;
	font-size: 3vh;
	color: #444;
	word-break: break-word;
}

.post {
	display: flex;
}

.postControls {
	display: block;
	margin: 10px 25px;
	font-family: "Fredoka One";
	color: #999;
}

.postControls span:hover {
	cursor: pointer;
}

.savePost {
	margin-left: 30px;
}

.reportPost {
	float: right;
}

.postBottom {
	margin: 0;
	padding: 0 0 23px 0;
	/* display: none; */
}

.comments {
	box-sizing: border-box;
	margin: 0 25px;
	padding-top: 25px;
	border-top: 2px solid #EEE;
}

.comments > * {
	display: block;
}

.school {
	text-align: center;
	position: relative;
	margin: 0 auto;
	width: 100%;
	margin-top: 2%;
	font-family: navigo, sans-serif;
    font-weight: 700;
    letter-spacing: -0.1vh;
    font-style: normal;
    font-size: 2.6vh;
    color: rgb(166, 171, 184);

}

/* .newComment {
	width: 100%;
	overflow: auto;
}

.newCommentText {
	display: inline-block;
	border: 1px solid #EEE;
	border-radius: 4px;
	padding: 5px;
	overflow: hidden;

	box-shadow: 0 0 8px -2px #DDD;

	font-family: "Fredoka One";
	color: #666;
	outline: none;
	max-width: 100%;
	box-sizing: border-box;
}

.submitComment {
	display: inline-block;
	float: right;
	font-size: 25px;
	color: #888;
} */

.comment {
	display: block;
	border: 1px solid #EEE;
	border-radius: 4px;
	box-shadow: 0 0 8px -2px #DDD;
	margin-top: 5px;
}

.commentText {
	font-family: navigo, sans-serif;
	font-weight: 700;
	letter-spacing: -0.1vh;
	font-style: normal;
	font-size: 2vh;
	color: #444;
	padding: 0;
	margin: 5px;
	margin-left: 2vh;
}

.commentControls {
	font-family: Brandon Grotesque;
	font-size: 3vh;
	color: #999;
	margin: 5px 8px 5px 5px;
}

.commentControls span:hover {
	cursor: pointer;
}

.commentControls > * {
	display: inline-block;
}

/*.commentUp, .commentDown {
	font-size: 18px;
}*/

.saveComment {
	margin-left: 30px;
}

.reportComment {
	float: right;
}

#rightSidebar {
	position: fixed;
	margin-top: 1%;
	display: inline-block;
	vertical-align: top;
}

.sidebarBox {
	margin: 0 0 0 13px;
	padding: 5px;
	background-color: #FFF;
	box-sizing: border-box;
	width: 53.5vh;

	border: 1px solid #EEE;
	border-radius: 4px;

	box-shadow: 0 0 8px -2px #DDD;
}

#infoPane {
	padding-bottom: 8px;
}

#infoPane > div {
	margin: 10px 0 0 4px;
}

#guidelines {
	margin-top: 15px;
	height: 40vh;
	margin-bottom: 5vh;
}

.postInfo {
	display: block;
	overflow: auto;
}