

		<div id="mainbox">
			<div id="posts">

				<div class="postbox" id="newPost">
					<p class="newPostLabel"><img src="http://u.cubeupload.com/ozinem/bullhorn.png"
						id="bullhorn" alt="chatting" width="60" height="45"/>Create a Shout</p>
					<textarea contenteditable="true" id="newPostText"
					onfocus="this.placeholder=''" onblur="this.placeholder='Enter a Shout'"
					placeholder="Enter a Shout"></textarea>

					<div id="newPostBottom" rows="5" #postText>
						<div class="newPostBottomSection" id="selectCategory">
							<p class="catLabel">Add a tag</p>
							<div id="categoryOptions">
<!--
								<span class="categoryLabel funny"></span>
								<span class="categoryLabel academics"></span>
								<span class="categoryLabel sports"></span>
								<span class="categoryLabel events"></span>
								<span class="categoryLabel random"></span>
								<span class="categoryLabel greek"></span>
								<span class="categoryLabel discussion"></span>
								<span class="categoryLabel alert"></span> -->

								<span class="categoryLabel funny notSelected" ></span>
								<span class="categoryLabel academics notSelected"></span>
								<span class="categoryLabel sports notSelected"></span>
								<span class="categoryLabel events notSelected"></span>
								<span class="categoryLabel random notSelected"></span>
								<span class="categoryLabel greek notSelected"></span>
								<span class="categoryLabel discussion notSelected"></span>
								<span class="categoryLabel alert notSelected"></span>
							</div>
							<div id="tags" #alltags>
								<span class="tag">Sample Hashtag</span>
								<!-- <span class="tag" ng-repeat="tag in new_tags">{{ tag }}</span> -->
								<input (keydown.enter)="addTags($event)" class="enter-tag"
								type="text" value="" onfocus="this.placeholder=''"
								onblur="this.placeholder='Enter a Shout'"
								placeholder="Enter a tag" />
							</div>
						</div>

						<div class="newPostBottomSection" id="postAs">
							<p id="anon-label">Stay Anonymous?</p>
							<div class="switch"><input id="switch" type="checkbox"/><label for="switch" class="switchLabel">Toggle</label></div>


							<button id="makePost" (click)="createPost()">Post</button>
						</div>
					</div>
				</div>

				<div class="postbox" *ngFor="let post of Posts">
					<div class="postInfo">
						<span class="time">{{post.timestamp | date: 'MMM dd, yyyy'}}</span>
						<span class="postLabel {{ post.tags[0]}}"></span>
					</div>
					<div class="post">
						<div class="votes">
							<span class="typcn typcn-plus"></span>
							<span class="score">{{post.likes - post.dislikes}}</span>
							<span class="typcn typcn-minus"></span>
						</div>

						<p class="content">
								{{post.msg_body}}
						</p>
					</div>

					<div class="postControls" >
						<span class="showComments" class="fas fa-chevron-down" (click)="toggleComments($event)"></span>
						<span class="savePost fas fa-save"></span>
						<span class="reportPost fas fa-flag"></span>
					</div>

					<div class="postBottom hide">

						<div class="comments">
							<div class="newComment">
								<div class="newCommentText" contenteditable="true">s</div>
								<span class="submitComment fas fa-check-square"></span>
							</div>
							<div class="comment" *ngFor="let comments of post.comments">
								<span class="time">yo waddup</span>
								<p class="commentText">
									{{comments.msg_body}}
								</p>
								<div class="commentControls">
						<!-- 			<div> -->
										<span class="typcn typcn-plus"></span>
										<span class="commentScore"> &nbsp; {{ comments.likes - comments.dislikes}} &nbsp; </span>
										<span class="typcn typcn-minus"></span>
								<!-- 	</div> -->
									<span class="saveComment fas fa-save" style="font-size: 2vh;"></span>
									<span class="reportComment fas fa-flag" style="font-size: 2vh;"></span>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>

			<div id="rightSidebar">
				<div class="sidebarBox" id="infoPane">
					<p class="school">
						<span class="fas fa-map-marker-alt"
						style="margin-right: 1vh; color: #FFC74F"></span>
						Rensselaer Polytechnic Institute
					</p>
					<img id="sort-img" src="http://u.cubeupload.com/ozinem/sort.png"
					alt="chatting" width="40" height="38"/>
					<p class="sortLabel">Post Filters</p>
					<div class="filter-container">
						<svg version="1.1" class="close" xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						width="32px" viewBox="0 0 42 42" enable-background="new 0 0 42 42"
						xml:space="preserve" (click)="toggleClass($event)">
							<path class="path one" fill="#cbcbcb" d="M42,21L42,21c0,1.1-0.9,2-2,2H2c-1.1,0-2-0.9-2-2v0c0-1.1,0.9-2,2-2H40C41.1,19,42,19.9,42,21z" cx="0" cy="0" transform="scale(0.9)"/>
							<path class="path two" fill="#cbcbcb" d="M21,42L21,42c-1.1,0-2-0.9-2-2V2c0-1.1,0.9-2,2-2h0c1.1,0,2,0.9,2,2V40C23,41.1,22.1,42,21,42z" cx="10" cy="10" transform="scale(0.9)"/>
						</svg>
						<span>Filter posts by</span>
						<ul class="list">
							<li><a href="#" (click)="parseSort($event)" class="popularity">Popularity</a></li>
							<li><a href="#" (click)="parseSort($event)" class="score">Score</a></li>
							<li><a href="#"(click)="parseSort($event)" class="recent">Recent</a></li>
						</ul>
					</div><br/>
					<div id="categoryView">
						<img id="cat-img" src="http://u.cubeupload.com/ozinem/choice.png"
						alt="chatting" width="50" height="45"/>
						<span class="sortLabel" id="select-cat">Filter by tag</span>
						<div class="tag-select">
							<p class="selectedTag">Selected Tag</p>
							<span class="categoryLabel everything"></span>
						</div>
						<div id="categoryViewSelect">
							<span class="categoryLabel funny" (click)="parseTag($event)"></span>
							<span class="categoryLabel academics" (click)="parseTag($event)"></span>
							<span class="categoryLabel sports" (click)="parseTag($event)"></span>
							<span class="categoryLabel events" (click)="parseTag($event)"></span>
							<span class="categoryLabel random" (click)="parseTag($event)"></span>
							<span class="categoryLabel greek" (click)="parseTag($event)"></span>
							<span class="categoryLabel discussion" (click)="parseTag($event)"></span>
							<span class="categoryLabel alert" (click)="parseTag($event)"></span>
							<span class="categoryLabel everything"></span>
						</div>
					</div>
				</div>
			<!-- 	<button class="guidelines" type="button">
					<i class="fas fa-users" style="font-size: 2.4vh; margin-right: 1.4vh;"></i>
					Community Guidelines
				</button> -->
			</div>
		</div>