
		 <nav>
		 	<section class="logo-section">
		 		<i id="volume" class="fas fa-bullhorn"></i>
		 		<h1 id="app-title">shout</h1>
		 	</section>
		 	<section class="navbar-links"></section>
		 	<span class="typcn typcn-location"></span>
		 	<!-- <span class="typcn typcn-user"></span>
		 	<i class="fas fa-bell"></i> -->
		 	<form action="post" class="ls">
		 		<input type="text" id="username" name="username" placeholder="Username" max-length="100">
		 		<input type="password" id="password" name="password" placeholder="Password" max-length="100">
		 		<button id="login" type="button">Login</button>
		 		<button id="btn-sign-up" type="button">Sign Up</button>

		 	</form>

<!-- 		 	<span class="typcn typcn-th-menu"></span> -->

		 </nav>


		<div id="mainbox">
			<div id="posts">

				<div class="postbox" id="newPost">
					<p class="newPostLabel"><img src="http://u.cubeupload.com/ozinem/bullhorn.png" id="bullhorn" alt="chatting" width="60" height="45"/>Create a Shout</p>
					<textarea contenteditable="true" id="newPostText" placeholder="Enter a shout"></textarea> 
					<div id="newPostBottom" rows="5">
						<div class="newPostBottomSection" id="selectCategory">
							<p class="catLabel">Add a tag</p>
							<div id="categoryOptions">
<!--
								<span class="categoryLabel funny"></span>
								<span class="categoryLabel academics"></span>
								<span class="categoryLabel sports"></span>
								<span class="categoryLabel events"></span>
								<span class="categoryLabel random"></span>
								<span class="categoryLabel greek"></span>
								<span class="categoryLabel discussion"></span>
								<span class="categoryLabel alert"></span> -->

								<span class="categoryLabel funny notSelected"></span>
								<span class="categoryLabel academics notSelected"></span>
								<span class="categoryLabel sports notSelected"></span>
								<span class="categoryLabel events notSelected"></span>
								<span class="categoryLabel random notSelected"></span>
								<span class="categoryLabel greek notSelected"></span>
								<span class="categoryLabel discussion notSelected"></span>
								<span class="categoryLabel alert notSelected"></span>
							</div>
							<div id="tags">
								<span class="tag">Sample Hashtag</span>
								<div dynamic="tagspan">{{alltags}}</div>
								<input class="enter-tag" type="text" value="" placeholder="Enter a tag" />
							</div>
						</div>
						
						<div class="newPostBottomSection" id="postAs">
							<p id="anon-label">Stay Anonymous?</p>
							<div class="switch"><input id="switch" type="checkbox"/><label for="switch">Toggle</label></div>
							
							
							<button id="makePost">Post</button>
						</div>
					</div>
				</div>
				<!-- <li class="media rounded shadow bg-light mb-3" *ngFor="let article of articles">
  <img class="align-self-center mr-3 img-thumbnail w-25 height-auto" src="{{article.urlToImage}}" alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0"><a href="{{article.url}}">{{article.title}}</a></h5>
    <h6>By:<i> {{article.author || article.source.name}}</i> </h6>
    <b>{{article.publishedAt | date:'medium'}}:</b> 
    <p>{{article.content}}</p>
  </div>
  </li> -->

				<div class="postbox" *ngFor="let post of Posts">
					<div class="postInfo">
						<span class="time">{{post.timestamp | date: 'MMM dd, yyyy'}}</span>
						<span class="postLabel {{ post.tags[0]}}"></span>
					</div>
					<div class="post">
						<div class="votes">
							<span class="typcn typcn-plus"></span>
							<span class="score">{{post.likes - post.dislikes}}</span>
							<span class="typcn typcn-minus"></span>
						</div>

						<p class="content">
								{{post.msg_body}}
						</p>
					</div>

					<div class="postControls">
						<span class="showComments fas fa-chevron-down"></span>
						<span class="savePost fas fa-save"></span>
						<span class="reportPost fas fa-flag"></span>
					</div>

					<div class="postBottom">

						<div class="comments">
							<div class="newComment">
								<div class="newCommentText" contenteditable="true">s</div>
								<span class="submitComment fas fa-check-square"></span>
							</div>
							<div class="comment">
								<span class="time">yo waddup</span>
								<p class="commentText">
									Hello I like your dog can I have your dog plsss I really want your dog because I like it.
								</p>
								<div class="commentControls">
									<div>
										<span class="typcn typcn-plus"></span>
										<span class="commentScore"> &nbsp; 20 &nbsp; </span>
										<span class="typcn typcn-minus"></span>
									</div>
									<span class="saveComment fas fa-save"></span>
									<span class="reportComment fas fa-flag"></span>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>

			<div id="rightSidebar">
				<div class="sidebarBox" id="infoPane">
					<p class="school"><span class="fas fa-map-marker-alt" style="margin-right: 1vh; color: #FFC74F"></span> Rensselaer Polytechnic Institute</p>

					<div id="categoryView">
						<span class="newPostLabel">Category:</span>
						<span class="categoryLabel everything"></span>
						<div id="categoryViewSelect">
							<span class="categoryLabel funny"></span>
							<span class="categoryLabel academics"></span>
							<span class="categoryLabel sports"></span>
							<span class="categoryLabel events"></span>
							<span class="categoryLabel random"></span>
							<span class="categoryLabel greek"></span>
							<span class="categoryLabel discussion"></span>
							<span class="categoryLabel alert"></span>
							<span class="categoryLabel everything"></span>
						</div>
					</div>

					<div id="filterOptions">
						<span class="newPostLabel">Sort by:</span>
						<select id="sort">
							<option value="popularity">Popularity</option>
							<option value="score">Score</option>
							<option value="recent">Recent</option>
						</select>
					</div>
				</div>
				<button class="guidelines" type="button"><i class="fas fa-users" style="font-size: 2.4vh; margin-right: 1.4vh;"></i>Community Guidelines</button>
			</div>
		</div>
		<div id="modal-container">
  <div class="modal-background">
    <div class="modal">
    	<img src="http://u.cubeupload.com/ozinem/communication1.png" alt="chatting" width="200" height="185"/>
    	<h3 class="joinLabel">Join Our Community!</h3>
        <section>
          <form action="post">
          	<input type="text" id="email" name="password" placeholder="Email" max-length="100">
          	<input type="text" id="username-sign-up" name="username" placeholder="Username" max-length="100">
		 	<input type="password" id="password-sign-up" name="password" placeholder="Password" max-length="100">
		 	<button id="sign-up" type="button">Create your account</button>
		 </form>
          
        </section>
        <section class="share">
          <button id="copy-post" type="button"><i class="fas fa-clipboard"></i></button>
          <button id="share-fb" type="button"><i class="fab fa-facebook-f"></i></button>
          <button id="share-tw" type="button"><i class="fab fa-twitter"></i></button><br/>
          <textarea id="copy-text"></textarea>
        </section>    
    </div>
  </div>
</div>