body {
	background-color: #ee4c7c;
}

#main-content {
/*  border: 1px solid black;*/
  width: 80%;
  height: auto;
}

.msg {
	margin-top: 12%;
	margin-left: 3%;
	width: 90%;
	height: 90%;
	/*border: 1px solid black;*/

}

.row {
	background-color: #fff;
	height: 17vh;
	width: 90%;
	margin-left: 8vh;
	margin-bottom: 4vh;
	border-radius: 25px;
	z-index: 0;
	position: relative;
}

#darrow {
	margin-top: 7%;
	margin-left: 50%;
	z-index: 1;
	font-size: 2em;
	color: #9a1750;
	position: absolute;
}

#darrow:hover {
  color: #e3afbc;
}

#plus {
  margin-top: 3%;
  margin-left: 5%;
  font-size: 1.5em;
  color: #9a1750;
	position: absolute;
}

#plus:hover {
  color: #e3afbc;
}
#minus {
  margin-top: 8%;
  margin-left: 5%;
  font-size: 1.5em;
  color: #9a1750;
	position: absolute;
}

#minus:hover {
  color: #e3afbc;
}

.user-post {
  height: 100px;
  width: 100px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  margin-top: -2.5%;
  margin-left: 100vh;
}

.user-post:hover {
  opacity: 0.8;
}

/* Hover state animation applied here */
.row:hover { 
  -webkit-animation: hover 1200ms linear 2 alternate;
  animation: hover 1200ms linear 2 alternate;
  text-decoration: none;
}

/* Active state animation applied here */
.row:active {
  -webkit-animation: active 1200ms ease 1 alternate;
  animation: active 1200ms ease 1 alternate; 
  background: white;
  text-decoration: none;
}
