#option-btns {
	margin-top: 8vh;
/*  	float: right;*/
  	position: fixed;
  	margin: 0 auto;
}

#report-post {
	background-color: white;
	position: relative;
	height: 6.2vh;
	width: 30vh;
	border-radius: 10px;
	margin-top: 0.7vh;
	margin-right: 3vh;
	color: rgb(6, 214, 160);
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.4vh;
	text-decoration: none;
	border: none;
    outline:none;
    font-size: 2vh;
    margin-bottom: 4%;
    -moz-transition: all 0.5s ease-in-out 0.1s;
    -o-transition: all 0.5s ease-in-out 0.1s;
    -webkit-transition: all 0.5s ease-in-out 0.1s;
    transition: all 0.5s ease-in-out 0.1s;
}

#report-post:hover {
    color: rgb(6, 214, 160);
	background-color: white;
	cursor: pointer;
  	-webkit-animation: hover 1200ms linear 2 alternate;
  	animation: hover 1200ms linear 2 alternate;
  	text-decoration: none;
}

#share-post {
	background-color: rgb(6, 214, 160);
	position: relative;
	height: 6.2vh;
	width: 30vh;
	border-radius: 10px;
	margin-top: 0.7vh;
	margin-right: 2vh;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.4vh;
	text-decoration: none;
	border: none;
    outline:none;
    font-size: 2vh;
    margin-bottom: 4%;
    -moz-transition: all 0.5s ease-in-out 0.1s;
    -o-transition: all 0.5s ease-in-out 0.1s;
    -webkit-transition: all 0.5s ease-in-out 0.1s;
    transition: all 0.5s ease-in-out 0.1s;
}

#share-post:hover {
    color: rgb(6, 214, 160);
	background-color: white;
	cursor: pointer;
  	-webkit-animation: hover 1200ms linear 2 alternate;
  	animation: hover 1200ms linear 2 alternate;
  	text-decoration: none;
}

#submit-report {
	background-color: rgb(6, 214, 160);
	position: relative;
	height: 6.2vh;
	width: 30vh;
	border-radius: 10px;
	margin-top: 1.5vh;
	margin-right: 2vh;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.4vh;
	text-decoration: none;
	border: none;
    outline:none;
    font-size: 2vh;
    margin-bottom: 2%;
    -moz-transition: all 0.5s ease-in-out 0.1s;
    -o-transition: all 0.5s ease-in-out 0.1s;
    -webkit-transition: all 0.5s ease-in-out 0.1s;
    transition: all 0.5s ease-in-out 0.1s;
}

#submit-report:hover {
    color: rgb(6, 214, 160);
	background-color: white;
	cursor: pointer;
  	-webkit-animation: hover 1200ms linear 2 alternate;
  	animation: hover 1200ms linear 2 alternate;
  	text-decoration: none;
}
/* MODAL ANIMATION */
html.modal-active, body.modal-active {
  overflow: hidden;
}

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 110%;
  top: 2%;
  left: -1%;
  transform: scale(0);
  z-index: 1;
}

.modal {
	height: auto;
	width: 35%;
	position: fixed;
	background-color: #CDF2ED;
	padding-right: 5%;
	margin: 0 auto;
	z-index: 9999 !important;
	padding-bottom: 1%;
}

#modal-container.btn {
  transform: scale(1);
  position: fixed;
  z-index: 1;
}

#modal-container.btn .modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.btn .modal-background .modal {
  opacity: 0;
  animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.btn + article {
  animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.btn.out {
  animation: quickScaleDown 0s .5s linear forwards;
}

#modal-container.btn.out .modal-background {
  animation: fadeOut .5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.btn.out .modal-background .modal {
  animation: scaleDown .5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.btn.out + article {
  animation: scaleForward 5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
  z-index: 2;
}

#modal-container .modal-background .modal {
  background-color: #EEF2F5;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
  padding-bottom: 2px;
  display: inline-block;
  font-weight: 300;
  position: relative;
  border-radius: 10px;
  z-index: 2;
}

#modal-container .modal-background .modal h2 {
	margin-top: 4%;
  	font-size: 3vh;
  	color: #FFFFFA;
  	text-transform: uppercase;
  	letter-spacing: 0.6vh;
/*  	padding-bottom: 1%*/
}

#modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}

#modal-container .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

#modal-container .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

/* ANIMATIONS */ 

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.5);
  }
}

@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
}

@keyframes scaleBack {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.85);
  }
}

@keyframes scaleForward {
  0% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}