@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

html {
	font-family: "Fredoka One";
}

body {
	margin: 0;
	padding: 0;
}

/*#login-btns {
	margin-top: 11vh;
  	float: right;
  	position: fixed;
  	margin-left: 68%;
  	z-index: 1;
}*/

#login {
	display: inline-block;
	background-color: #F96574;
	height: 4.6vh;
	width: 15vh;
	border-radius: 35px;
	margin-right: 1vh;
	text-align: center;
	color: #fff;
	font-family: 'Raleway', sans-serif;
  	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5vh;
	text-decoration: none;
	border: none;
    outline:none;
    font-size: 1.7vh;
    -moz-transition: all 0.5s ease-in-out 0.1s;
    -o-transition: all 0.5s ease-in-out 0.1s;
    -webkit-transition: all 0.5s ease-in-out 0.1s;
    transition: all 0.5s ease-in-out 0.1s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);	
}

#login:hover, #sign-up:hover {
	/*color: white;*/
	background-color: #FFC74F;
	cursor: pointer;
	-webkit-animation: hover 1200ms linear 2 alternate;
	animation: hover 1200ms linear 2 alternate;
	text-decoration: none;
}

#sign-up {
	display: inline-block;
	background-color: #F96574;
	height: 4.6vh;
	width: 17vh;
	border-radius: 35px;
	margin-right: 0vh;
	text-align: center;
	color: #fff;
	font-family: 'Raleway', sans-serif;
  font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5vh;
	text-decoration: none;
	border: none;
    outline:none;
    font-size: 1.7vh;
    -moz-transition: all 0.5s ease-in-out 0.1s;
    -o-transition: all 0.5s ease-in-out 0.1s;
    -webkit-transition: all 0.5s ease-in-out 0.1s;
    transition: all 0.5s ease-in-out 0.1s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);	
}

/*#userimage {
	float: right;
	clear: right;

	height: 38px;
	width: 38px;
	margin-left: 17px;
	border-radius: 100px;
}*/

#mainbox {
	text-align: center;
	margin-left: -14.5%;
	margin-top: 5%;
/*	margin: 65px auto 25px auto;*/
/*	margin-right: 30px;*/
	min-width: 500px !important;
}

#mainbox > div {
	text-align: left;
}

#posts, #rightSidebar {
	display: inline-block;
}

#posts {
	width: 60%;
	max-width: 700px;
	min-width: 300px;
}

.newComment {
	display: flex;
}

.postbox {
	display: block;
	margin-top: 15px;
	width: 100%;
	background-color: #FFF;
	box-sizing: border-box;

	min-height: 125px;
	border: 1px solid #EEE;
	border-radius: 4px;

	box-shadow: 0 0 8px -2px #DDD;
}

#newPost {
	padding: 10px;
}

#newPostBottom { 
	display: flex;
}

#categoryOptions {
	display: inline-block;
	overflow: auto;
}

#categoryViewSelect {
	overflow: auto;
}

.newPostLabel {
	margin: 0;
	padding: 0;
	font-family: vag-rundschrift-d, sans-serif;
	/*text-transform: uppercase;*/
	font-size: 5vh;
	text-align: center;
}

.catLabel {
	margin: 0;
	margin-top: 2vh;
	padding: 0;
	font-family: vag-rundschrift-d, sans-serif;
	/*text-transform: uppercase;*/
	font-size: 3vh;
	text-align: center;

}

.anonLabel {
	margin: 0;
	padding: 0;
	font-family: vag-rundschrift-d, sans-serif;
	/*text-transform: uppercase;*/
	font-size: 4vh;
	text-align: center;
}

#newPostText {
	background-color: #FAFAFA;
	position: relative;
	height: 30%;
	width: 95%;
	margin-right: 1%;
	margin-top: 1.7vh;
	border-radius: 5px;
	display: inline-block;
	outline: none;
	color: #485977;
	font-size: 2.2vh;
	letter-spacing: 0.2vh;
	overflow: auto;
	resize: none;
	/*word-wrap: break-word;*/
	padding-left: 2.4vh;
	padding-right: 0.8vh;
	padding-top: 1vh;
	padding-bottom: 1vh;
	border: none;
	font-family: Raleway;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);	

}

#newPostText:focus {
    outline: none !important;
    border: 1px solid #FFC74F;
    box-shadow: 0 0 4px #FFC74F;
}

.newPostBottomSection {
	display: inline-block;
}

.newPostBottomSection > * {
	display: block;
}

#categoryOptions .categoryLabel, #categoryViewSelect .categoryLabel {
	float: left;
}

#selectCategory {
	width: 50%;
}

#postAs {
	margin-left: 10px;
	height: 50%;
	float: right;
}

#makePost {
	display: block;
	float: right;
	display: inline-block;
	background-color: #000;
	height: 4.2vh;
	width: 15vh;
	border-radius: 5px;
	margin-left: 3vh;
	text-align: center;
	color: #E75A7C;
	font-family: 'Raleway', sans-serif;
  	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.6vh;
	text-decoration: none;
	border: none;
    outline:none;
    font-size: 2.3vh;
    -moz-transition: all 0.5s ease-in-out 0.1s;
    -o-transition: all 0.5s ease-in-out 0.1s;
    -webkit-transition: all 0.5s ease-in-out 0.1s;
    transition: all 0.5s ease-in-out 0.1s;
}

#makePost:hover {
	-webkit-animation: hover 1200ms linear 2 alternate;
  	animation: hover 1200ms linear 2 alternate;
  	cursor: pointer;

}

#checkAnon {
	height: 20px;
}

.time {
	color: #AAA;
	font-size: 12px;
	font-family: Calibri;
	margin: 2px 0 0 5px;
	display: inline-block;
}





.votes {
	margin-left: 7px;
	text-align: center;
	width: 50px;
	display: inline-block;
}

.votes * {
	display: block;
	font-size: 25px;
	font-family: "Fredoka One";
	margin: 0;
	padding: 0;
	color: #666;
}

.votes:after {
	clear: both;
}

.up {
	margin: 0;
	cursor: pointer;
}

.score {
	font-size: 20px;
}

.down {
	margin: -8px 0 0 0;
	cursor: pointer;
}






.content {
	display: inline-block;
	vertical-align: top;
	margin: 10px 25px 0 20px;
	width: auto;
	font-family: "Fredoka One";
	color: #444;
	word-break: break-word;
}

.post {
	display: flex;
}

.postControls {
	display: block;
	margin: 10px 25px;
	font-family: "Fredoka One";
	color: #999;
}

.postControls span:hover {
	cursor: pointer;
}

.savePost {
	margin-left: 30px;
}

.reportPost {
	float: right;
}

.postBottom {
	margin: 0;
	padding: 0 0 23px 0;
	/* display: none; */
}

.comments {
	box-sizing: border-box;
	margin: 0 25px;
	padding-top: 25px;
	border-top: 2px solid #EEE;
}

.comments > * {
	display: block;
}

.newComment {
	display: flex;
	overflow: auto;
}

.newCommentText {
	border: 1px solid #EEE;
	border-radius: 4px;
	padding: 5px;
	width: 100%;

	font-family: "Fredoka One";
	color: #666;
	outline: none;
	box-sizing: border-box;

	box-shadow: 0 0 8px -2px #DDD;
}

.submitComment {
	margin-left: 15px;
	float: right;
}

.submitComment span {
	font-size: 25px;
	color: #888;
}

.comment {
	display: block;
	border: 1px solid #EEE;
	border-radius: 4px;
	box-shadow: 0 0 8px -2px #DDD;
	margin-top: 12px;
}

.commentText {
	font-family: "Fredoka One";
	color: #444;
	padding: 0;
	margin: 5px;
}

.commentControls {
	font-family: "Fredoka One";
	color: #999;
	margin: 5px 8px 5px 5px;
}

.commentControls span:hover {
	cursor: pointer;
}

.commentControls > * {
	display: inline-block;
}

.commentUp, .commentDown {
	font-size: 18px;
}

.saveComment {
	margin-left: 30px;
}

.reportComment {
	float: right;
}

#rightSidebar {
	position: fixed;
	margin-top: 1%;
	display: inline-block;
	vertical-align: top;
}

.sidebarBox {
	margin: 0 0 0 13px;
	padding: 5px;
	background-color: #FFF;
	box-sizing: border-box;
	width: 53.5vh;

	border: 1px solid #EEE;
	border-radius: 4px;

	box-shadow: 0 0 8px -2px #DDD;
}

#infoPane {
	padding-bottom: 8px;
}

#infoPane > div {
	margin: 10px 0 0 4px;
}

#guidelines {
	margin-top: 15px;
	height: 40vh;
	margin-bottom: 5vh;
}

.postInfo {
	display: block;
	overflow: auto;
}