
		 <nav>
		 	<section class="logo-section">
		 		<i id="volume" class="fas fa-bullhorn"></i>
		 		<h1 id="app-title">shout</h1>
		 	</section>
		 	<section class="navbar-links"></section>
		 	<span class="typcn typcn-location"></span>
		 	<!-- <span class="typcn typcn-user"></span>
		 	<i class="fas fa-bell"></i> -->
			
			<form *ngIf="!logged_in" action="post" class="ls">
		 		<input type="text" id="username" name="username" placeholder="Username"
				onfocus="this.placeholder=''" onblur="this.placeholder='Username'"
				max-length="100">
		 		<input type="password" id="password" name="password" placeholder="Password"
				onfocus="this.placeholder=''" onblur="this.placeholder='Password'"
				max-length="100">
		 		<button id="login" type="button">Login</button>
		 		<button id="btn-sign-up" type="button">Sign Up</button>
		 	</form>

			<button *ngIf="logged_in" id="profile" type="button">{{username_nav}}</button>
			<button *ngIf="logged_in" id="logout" type="button">Log Out</button>

		 </nav>

<router-outlet></router-outlet>
