@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

html {
	font-family: Calibri;
}

body {
	margin: 0;
	padding: 0;

	background-color: #FAFAFA;
}

header {
	height: 40px;
	padding: 10px 0;
	width: 100%;

	background-color: #F3F3F3;
	border-bottom: 3px solid #EEE;

	position: fixed;
	top: 0;
}

#logo {
	font-family: Fredoka One;
	font-size: 35px;
	color: #E32636;
	font-style: italic;
	margin-left: 15px;
}

.navButton {
	display: inline-block;
	color: #999;
	font-size: 27px;
	margin-left: 60px;
}

.navButton:hover {
	cursor: pointer;
}

#userpanel {
	float: right;
	clear: right;
	margin-right: 15px;
}

#user {
	float: left;
	clear: left;
}

#user span {
	text-align: right;
}

#username {
	display: block;

	font-size: 18px;
	font-weight: bold;
	color: #999;
}

#logout {
	display: block;

	font-size: 11px;
	color: #BBB;

	cursor: pointer;
}

#logout:hover {
	color: #00B2EE;
	text-decoration: underline;
}

#userimage {
	float: right;
	clear: right;

	height: 38px;
	width: 38px;
	margin-left: 17px;
	border-radius: 100px;
}
